*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
    width:100%;
    height:fit-content;
    background:linear-gradient(135deg,#0f172a,#1e293b,#2563eb);
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    color:aqua;
    font-size: 1.5rem;
    float: left;
    padding: 1.5rem 4rem;
}
/* ------------------ */
header{
    background-color: black;
    width:100%;
    height: 5rem;
    position: sticky;
    top:0;
    z-index: 1000;
}
header ul{
    float: right;
    display: flex;
    justify-content: right;
    align-items: center;
    gap:2rem;
    padding:2rem 4rem;
}

header ul li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color:white;
}
header ul li a:hover{
    color: aqua;
}
/* -------------------------- */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width:100%;
    /* height:100vh; */
}
.hero img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin-top:4rem;
    margin-bottom: 1rem;
    /* border:1px solid white; */
    box-shadow: 0 0 10px 2px white;
}
.hero h2{
    color:white;
    padding-top: 1rem;
    font-size: 2rem;
}
.hero h4{
    padding-top:1rem;
    color:aqua;
}
.hero p{
    padding-top: 1.5rem;
    color:white;
    font-size: small;
}
.hero .btn{
    margin:2rem;
    padding:0.5rem 2rem;
    cursor: pointer;
    border-radius: 1rem;
    border:2px solid aqua;
    background-color:#10192b;
    color:white;
    transition: all 0.5s;
}
.hero .btn:hover{
    transform: scale(1.1);
    background-color: #1f3051;
}
/* ----------------------------------- */
#skills{
    padding-top:10rem;
}
#skills h1{
    text-align: center;
    color:white;
}
.skill-box{
    display: flex;
    gap:1rem;
    justify-content:center;
    padding:2rem;
   
}

.skill{
    /* border:2px solid red; */
    padding:0.7rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2px white;
    background-color: #2c3546;
     transition:all 0.5s;
}
.skill:hover{
    box-shadow: 0 0 10px aqua;
    transform:scale(1.01);
}
.skill-box h3{
    text-align: center;
    color:white;
}
.skill-box p{
    text-align: center;
}
/* ------------------------------ */
.project-box{
    display: flex;
    justify-content:center;
    gap:2rem; 
}
#projects{
    padding-top:7rem;
}
#projects h1{
    color:white;
    padding-bottom: 4rem;
}
.project{
    /* border:2px solid red; */
    width:15rem;
    height:20rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: end;
    background-color:white;
    border-radius:1rem;
    overflow:hidden;
    box-shadow: -5px 5px 5px black;
    transition:all 0.5s;
}
.project:hover{
    box-shadow: -4px 4px 5px aqua;
    transform: translateY(1rem);
}
.project img{
    width:100%;
    height:15rem;
}
.project h4{
    padding:1.5rem;
}
.project p{
    text-align:center;
    padding-bottom:1.5rem;
    font-size:small;
}
/* ----------- */ 

#contact{
     padding-top:7rem;
}
.title {
    color:white;
    padding:2rem;
}
#name{
    width:30rem;
    height:3rem;
    margin-bottom:1rem;
    padding-left:1rem;
    border-radius:0.5rem;
}
#email{
    width:30rem;
    height:3rem;
    margin-bottom:1rem;
    padding-left:1rem;
    border-radius: 0.5rem;

}
#msg{
    width:30rem;
    height:6rem;
    margin-bottom:1rem;
    padding-left:1rem;
    border-radius: 0.5rem;
}
button{
    padding:0.5rem 2rem;
    border-radius:0.9rem;
    cursor:pointer;
    background-color:aqua;
}
/*  --------------*/
footer{
    width:100%;
    height:6rem;
    background-color:black;
    color:white;
    text-align: center;
    padding:2.5rem;
    margin-top:5rem;
}